.how-it-works-container {
    text-align: center;
    margin: 1rem ;
    background-color: #ecf0f1;
  }
  
  .how-it-works-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2c3e50;
  }
  
  .steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .step {
    flex: 1;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff; 
    border: 2px solid #f39c12; 
  }
  
  .step:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .step-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
  }
  
  .step-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .step-content p {
    color: #555;
  }
  